*{
margin:0;
padding:0;
box-sizing: border-box;

}

body{
background-color: rgba(227, 168, 252, 0.747);
 
}


.Encabezado{
    background: linear-gradient(rgba(138, 105, 239, 0.773), rgba(252, 111, 224, 0.532));
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 90px;
}

.Encabezado h1{
    font-size: 40px;
    color: rgb(42, 46, 121);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}   

.Encabezado a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Encabezado a:hover{
  margin-left: 50px;
  text-decoration: none;
  font-weight: bold;
  background-color: rgb(232, 185, 249);
  color: rgb(55, 0, 255);
  border-radius: 9px;
   
}


.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.corferias{
      
    width: 50%;

}

.corferias h1{

    font-size: 40px;
     color: blue;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.corferias h2{
 
 
    background: linear-gradient(blue, red);
    color: transparent;
    background-clip:text;
}

.corferias p{
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.imagen img{
    width: 500px;
    border-radius: 20px ;

}

.imagen img:hover{

    transform: scale(1.3);
    transition: transform 0.5s; 
    

}


.stand{
    margin: 30px;
     display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.veterinaria{
        width: 50%;


}

.veterinaria h2{
 background: linear-gradient( rgb(79, 0, 105), blue);
 color: transparent;
 background-clip: text;


}

.veterinaria p{
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.imagenStand img{
   width: 400px;
   border-radius: 30px;
   display: flex;
   justify-content: center;
   align-items: center;


}

.imagenStand img:hover{

    transform: scale(1.3);
    transition: transform 0.5s;
}


.experiencia{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;
}

.amigos{

    width: 600px;
    text-align: center;
}


.robyn{

     width: 300px;
    text-align: center;
}

.borbujas{
    width: 300px;
    text-align: center;
}

.robyn img{
    width: 100%;
    border-radius: 20px;


}
.amigos img{
    width: 100%;
    border-radius: 20px;

}

.borbujas img{
    width: 100%;
    border-radius: 20px;
}